<div class="container">
    <div class="grid">

        <div class="team_grid__header">
            <h1 class="team_grid__header--title">Teams</h1>

            <h4 class="team_grid__header--sub">List of teams in the National Basketball Association</h3>

        </div>
    
        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>
        
        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>
        
        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>
        
        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>
        
        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>
        
        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>
        
        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        <div class="team__card">
            <img src="../../assets/hawks.png" height="200" width="200" class="team__image"/>
            <p class="team__text--title">Atlanta Hawks</p>
        </div>

        

        

        

        
        
        

        

        

        

        

        
        
        

        

        

        

        

        
        
        

        

        

        

    </div>




</div>