<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li style="color:red;"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="signup-form-wrapper">
  <%= render partial: 'form', locals: { user: @user } %>
  <%= link_to('Sign up using Facebook!', '/auth/facebook') %>
</div>