<div class="user__background--image">
  <div class="user__header--text-box">
    <h1 class="user__header--primary">
      <span class="user__header--title">Hello, <%= @user.name %></span>
    </h1>
  </div>
</div>
