@import "bootstrap";

* {
  margin: 0;
}

body {
  padding-top: 50px;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 96%;
  top: 40px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("basketball-background.jpg") no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.nav-link {
  color: #333;
}

.active {
  color: #007bff;
}

.sidebar .nav-link .feather {
  color: #999;
}
